@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nasze menu";
}
<div class="text-left">
    <h1 class="display-4">Nasze menu</h1>
    <p>
        Nasza restauracja proponuje następujące pierogi:
        <ul>
            <li>ruskie - 0,50 zł/szt.</li>
            <li>ze szpinakiem - 0,60 zł/szt.</li>
            <li>z kapustą i grzybami - 0,75 zł/szt.</li>
            <li>z mięsem - 1 zł/szt.</li>
        </ul>
    </p>
    <p>Aby złożyć zamówienie przejdź do strony <a href="/contact">Zamówienie</a>.</p><br />
    <p style="text-align:center"><img src=~/pierozki.jpg width="400" height="300"></p>
</div>